Andres LED display.zip
Andres LED display/PlaatV2-Plated.TXT
Andres LED display/PlaatV2.GBL
Andres LED display/PlaatV2.GBO
Andres LED display/PlaatV2.GBS
Andres LED display/PlaatV2.GTL
Andres LED display/PlaatV2.GTO
Andres LED display/PlaatV2.GTS
Andres LED display/PlaatV2.Outline
Andres_LED_display_Gerber/PlaatV2.EXTREP
Andres_LED_display_Gerber/PlaatV2.GBL
Andres_LED_display_Gerber/PlaatV2.GBO
Andres_LED_display_Gerber/PlaatV2.GBS
Andres_LED_display_Gerber/PlaatV2.GTL
Andres_LED_display_Gerber/PlaatV2.GTO
Andres_LED_display_Gerber/PlaatV2.GTS
Andres_LED_display_Gerber/PlaatV2.Outline
Andres_LED_display_Gerber/PlaatV2.REP
Andres_LED_display_Gerber/Status Report.Txt
Mikroprosede projekti kood/.vs/Mikroprosede projekti kood/v14/.atsuo
Mikroprosede projekti kood/Mikroprosede projekti kood.atsln
Mikroprosede projekti kood/Plaadi test/Debug/Makefile
Mikroprosede projekti kood/Plaadi test/Debug/Plaadi test.eep
Mikroprosede projekti kood/Plaadi test/Debug/Plaadi test.elf
Mikroprosede projekti kood/Plaadi test/Debug/Plaadi test.lss
Mikroprosede projekti kood/Plaadi test/Debug/Plaadi test.map
Mikroprosede projekti kood/Plaadi test/Debug/Plaadi test.srec
Mikroprosede projekti kood/Plaadi test/Debug/main.d
Mikroprosede projekti kood/Plaadi test/Debug/main.o
Mikroprosede projekti kood/Plaadi test/Debug/makedep.mk
Mikroprosede projekti kood/Plaadi test/Debug/usb_serial.d
Mikroprosede projekti kood/Plaadi test/Debug/usb_serial.o
Mikroprosede projekti kood/Plaadi test/Plaadi test.componentinfo.xml
Mikroprosede projekti kood/Plaadi test/Plaadi test.cproj
Pildi generaator/.vs/Pildi generaator/v14/.suo
Pildi generaator/GeneratedFiles/Debug/main.moc
Pildi generaator/GeneratedFiles/Debug/moc_pildigeneraator.cpp
Pildi generaator/GeneratedFiles/Release/main.moc
Pildi generaator/GeneratedFiles/Release/moc_pildigeneraator.cpp
Pildi generaator/GeneratedFiles/qrc_pildigeneraator.cpp
Pildi generaator/GeneratedFiles/ui_pildigeneraator.h
Pildi generaator/Pildi generaator.sdf
Pildi generaator/Pildi generaator.sln
Pildi generaator/Pildi generaator.vcxproj
Pildi generaator/Pildi generaator.vcxproj.filters
Pildi generaator/Pildi generaator.vcxproj.user
Pildi generaator/Serial.cpp
Pildi generaator/Serial.h
Pildi generaator/Test.png
Pildi generaator/Yin_and_Yang.svg.png
Pildi generaator/ipch/TESTPROJECT-c9f40da8/TESTPROJECT-ee9624e1.ipch
Pildi generaator/light_blue_and_red_yin_yang_symbol_card-r6da05e896db84e5ea632a21d05b72ab1_zk91c_324.jpg
Pildi generaator/pildigeneraator.cpp
Pildi generaator/pildigeneraator.h
Pildi generaator/pildigeneraator.qrc
Pildi generaator/pildigeneraator.ui
Pildi generaator/test2.png
Pildi generaator/x64/Debug/D3Dcompiler_47.dll
Pildi generaator/x64/Debug/Pildi generaator.ilk
Pildi generaator/x64/Debug/Pildi generaator.log
Pildi generaator/x64/Debug/Pildi generaator.pdb
Pildi generaator/x64/Debug/Pildi generaator.tlog/CL.command.1.tlog
Pildi generaator/x64/Debug/Pildi generaator.tlog/CL.read.1.tlog
Pildi generaator/x64/Debug/Pildi generaator.tlog/CL.write.1.tlog
Pildi generaator/x64/Debug/Pildi generaator.tlog/Pildi generaator.lastbuildstate
Pildi generaator/x64/Debug/Pildi generaator.tlog/custombuild.command.1.tlog
Pildi generaator/x64/Debug/Pildi generaator.tlog/custombuild.read.1.tlog
Pildi generaator/x64/Debug/Pildi generaator.tlog/custombuild.write.1.tlog
Pildi generaator/x64/Debug/Pildi generaator.tlog/link.command.1.tlog
Pildi generaator/x64/Debug/Pildi generaator.tlog/link.read.1.tlog
Pildi generaator/x64/Debug/Pildi generaator.tlog/link.write.1.tlog
Pildi generaator/x64/Debug/Qt5Cored.dll
Pildi generaator/x64/Debug/Qt5Guid.dll
Pildi generaator/x64/Debug/Qt5Svgd.dll
Pildi generaator/x64/Debug/Qt5Widgetsd.dll
Pildi generaator/x64/Debug/Serial.obj
Pildi generaator/x64/Debug/iconengines/qsvgicond.dll
Pildi generaator/x64/Debug/imageformats/qddsd.dll
Pildi generaator/x64/Debug/imageformats/qgifd.dll
Pildi generaator/x64/Debug/imageformats/qicnsd.dll
Pildi generaator/x64/Debug/imageformats/qicod.dll
Pildi generaator/x64/Debug/imageformats/qjpegd.dll
Pildi generaator/x64/Debug/imageformats/qsvgd.dll
Pildi generaator/x64/Debug/imageformats/qtgad.dll
Pildi generaator/x64/Debug/imageformats/qtiffd.dll
Pildi generaator/x64/Debug/imageformats/qwbmpd.dll
Pildi generaator/x64/Debug/imageformats/qwebpd.dll
Pildi generaator/x64/Debug/libEGLd.dll
Pildi generaator/x64/Debug/libGLESV2d.dll
Pildi generaator/x64/Debug/main.obj
Pildi generaator/x64/Debug/moc_pildigeneraator.obj
Pildi generaator/x64/Debug/opengl32sw.dll
Pildi generaator/x64/Debug/pildigeneraator.obj
Pildi generaator/x64/Debug/platforms/qwindowsd.dll
Pildi generaator/x64/Debug/qrc_pildigeneraator.obj
Pildi generaator/x64/Debug/translations/qt_ca.qm
Pildi generaator/x64/Debug/translations/qt_cs.qm
Pildi generaator/x64/Debug/translations/qt_de.qm
Pildi generaator/x64/Debug/translations/qt_en.qm
Pildi generaator/x64/Debug/translations/qt_fi.qm
Pildi generaator/x64/Debug/translations/qt_fr.qm
Pildi generaator/x64/Debug/translations/qt_he.qm
Pildi generaator/x64/Debug/translations/qt_hu.qm
Pildi generaator/x64/Debug/translations/qt_it.qm
Pildi generaator/x64/Debug/translations/qt_ja.qm
Pildi generaator/x64/Debug/translations/qt_ko.qm
Pildi generaator/x64/Debug/translations/qt_lv.qm
Pildi generaator/x64/Debug/translations/qt_ru.qm
Pildi generaator/x64/Debug/translations/qt_sk.qm
Pildi generaator/x64/Debug/translations/qt_uk.qm
Pildi generaator/x64/Debug/vc140.pdb
Pildi generaator/x64/Release/D3Dcompiler_47.dll
Pildi generaator/x64/Release/Pildi generaator.exe
Pildi generaator/x64/Release/Pildi generaator.log
Pildi generaator/x64/Release/Pildi generaator.tlog/CL.command.1.tlog
Pildi generaator/x64/Release/Pildi generaator.tlog/CL.read.1.tlog
Pildi generaator/x64/Release/Pildi generaator.tlog/CL.write.1.tlog
Pildi generaator/x64/Release/Pildi generaator.tlog/Pildi generaator.lastbuildstate
Pildi generaator/x64/Release/Pildi generaator.tlog/custombuild.command.1.tlog
Pildi generaator/x64/Release/Pildi generaator.tlog/custombuild.read.1.tlog
Pildi generaator/x64/Release/Pildi generaator.tlog/custombuild.write.1.tlog
Pildi generaator/x64/Release/Pildi generaator.tlog/link.command.1.tlog
Pildi generaator/x64/Release/Pildi generaator.tlog/link.read.1.tlog
Pildi generaator/x64/Release/Pildi generaator.tlog/link.write.1.tlog
Pildi generaator/x64/Release/Qt5Core.dll
Pildi generaator/x64/Release/Qt5Gui.dll
Pildi generaator/x64/Release/Qt5Svg.dll
Pildi generaator/x64/Release/Qt5Widgets.dll
Pildi generaator/x64/Release/Serial.obj
Pildi generaator/x64/Release/iconengines/qsvgicon.dll
Pildi generaator/x64/Release/imageformats/qdds.dll
Pildi generaator/x64/Release/imageformats/qgif.dll
Pildi generaator/x64/Release/imageformats/qicns.dll
Pildi generaator/x64/Release/imageformats/qico.dll
Pildi generaator/x64/Release/imageformats/qjpeg.dll
Pildi generaator/x64/Release/imageformats/qsvg.dll
Pildi generaator/x64/Release/imageformats/qtga.dll
Pildi generaator/x64/Release/imageformats/qtiff.dll
Pildi generaator/x64/Release/imageformats/qwbmp.dll
Pildi generaator/x64/Release/imageformats/qwebp.dll
Pildi generaator/x64/Release/libEGL.dll
Pildi generaator/x64/Release/libGLESV2.dll
Pildi generaator/x64/Release/main.obj
Pildi generaator/x64/Release/moc_pildigeneraator.obj
Pildi generaator/x64/Release/opengl32sw.dll
Pildi generaator/x64/Release/pildigeneraator.obj
Pildi generaator/x64/Release/platforms/qwindows.dll
Pildi generaator/x64/Release/qrc_pildigeneraator.obj
Pildi generaator/x64/Release/translations/qt_ca.qm
Pildi generaator/x64/Release/translations/qt_cs.qm
Pildi generaator/x64/Release/translations/qt_de.qm
Pildi generaator/x64/Release/translations/qt_en.qm
Pildi generaator/x64/Release/translations/qt_fi.qm
Pildi generaator/x64/Release/translations/qt_fr.qm
Pildi generaator/x64/Release/translations/qt_he.qm
Pildi generaator/x64/Release/translations/qt_hu.qm
Pildi generaator/x64/Release/translations/qt_it.qm
Pildi generaator/x64/Release/translations/qt_ja.qm
Pildi generaator/x64/Release/translations/qt_ko.qm
Pildi generaator/x64/Release/translations/qt_lv.qm
Pildi generaator/x64/Release/translations/qt_ru.qm
Pildi generaator/x64/Release/translations/qt_sk.qm
Pildi generaator/x64/Release/translations/qt_uk.qm
Pildi generaator/yinyang-blue-red-md.png
Spinning LED display.PDF
Spinning LED display/PlaatV2.EXTREP
Spinning LED display/PlaatV2.GBL
Spinning LED display/PlaatV2.GBO
Spinning LED display/PlaatV2.GBS
Spinning LED display/PlaatV2.GTL
Spinning LED display/PlaatV2.GTS
Spinning LED display/PlaatV2.Outline
Spinning LED display/PlaatV2.REP
Spinning LED display/Status Report.Txt
Spinning_LED_display_Gerber test.Zip
Spinning_LED_display_Gerber.Zip
Spinning_LED_display_NC_Drill.Zip
Spinning_LED_display_NC_Drill/PlaatV2-Plated.TXT
Spinning_LED_display_NC_Drill/PlaatV2.DRR
Spinning_LED_display_NC_Drill/PlaatV2.LDP
Spinning_LED_display_NC_Drill/Status Report.Txt
TestProject/ReadMe.txt
TestProject/Resource.h
TestProject/TestProject.cpp
TestProject/TestProject.h
TestProject/TestProject.ico
TestProject/TestProject.rc
TestProject/TestProject.vcxproj
TestProject/TestProject.vcxproj.filters
TestProject/small.ico
TestProject/stdafx.cpp
TestProject/stdafx.h
TestProject/targetver.h
TestProject/x64/Debug/TestProject.log
TestProject/x64/Debug/TestProject.pch
TestProject/x64/Debug/TestProject.tlog/CL.command.1.tlog
TestProject/x64/Debug/TestProject.tlog/CL.read.1.tlog
TestProject/x64/Debug/TestProject.tlog/CL.write.1.tlog
TestProject/x64/Debug/TestProject.tlog/TestProject.lastbuildstate
TestProject/x64/Debug/TestProject.tlog/unsuccessfulbuild
TestProject/x64/Debug/stdafx.obj
TestProject/x64/Debug/vc140.idb
TestProject/x64/Debug/vc140.pdb
Pildi generaator/x64/Debug/Pildi generaator.exe
